bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
Frelance.API.sln.DotSettings.user
.DS_STORE
/Frelance.Web/Frelance.Web.csproj.user
/.vs/Frelance.API/FileContentIndex
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.19.0/darwin_arm64/terraform-provider-azurerm_v4.19.0_x5
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.19.0/darwin_arm64/LICENSE.txt
terraform/terraform.tfstate
terraform/.terraform.tfstate.lock.info
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
/.vs/Frelance.API
/.vs/ProjectEvaluation
